* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: #d2dbdd; */
}

button {
  padding: 5px 8px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: 0#868686;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}

/* ============ for todo list ======== */
.main_div {
  width: 100%;
  height: 100vh;
  background: #ddeaff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center_div {
  /* width: 25%;
  height: 80vh; */
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
  /* background: #f9d89c; */
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.main_div h2 {
  color: white;
  background: transparent;
  /* text-shadow: 0 2px 2px black; */
  background-color: #28416b;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px 0 0;
}

.main_div input {
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  /* border-bottom: 2px solid #8566aa; */
  outline: none;
}

.main_div button {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #28416b;
  color: #fff;
  font-size: 27px;
  border: none;
  padding: 0px;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.main_div button:hover {
  background-color: #20bf6b;
}
.main_div ol {
  margin-top: 30px;
}

.main_div ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #28416b;
  text-transform: capitalize;
}

.todo_style {
  display: flex;
  flex-direction: row;
  /* justify-content: left; */
  justify-content: space-between;
  padding-left: 10px;
  align-items: center;
}

.todo_style .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28416b;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.todo_style .fa-times:hover {
  background-color: crimson;
}

.todo_style .fa-times:hover .list_style {
  color: crimson;
}

@media (max-width: 768px) {
  .center_ div {
    width: 90%;
  }
}
.todo_style ~ fa-times {
  margin: 0 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo_style ~ fa-times ~ svg {
  background-color: none;
}
.hr {
  margin-top: 10px;
}
.num_list {
  overflow: auto;
  height: 60vh;
}

.main_div input,
.main_div button {
  margin-top: 10px;
}

.main_div input {
  width: calc(100% - 60px); /* Leaves space for button */
}

@media (max-width: 480px) {
  .center_div {
    width: 95%;
  }
}
